@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    color: hsl(227, 10%, 46%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.corpo {
    background-color: white;
    padding: 30px 50px 10px 50px;
    border-radius: 10px;
}
.informacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.informacoes img{
    border-radius: 50px;
}
.informacoes h1{
    color: black;
    font-size: 20px;
}
.informacoes h2{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.informacoes span{
    color: hsl(226, 7%, 35%);
}
.conteudo {
    padding: 30px;
    display: flex;
    gap: 20px;       
}
.numeros {
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.texto {
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.followers {
    list-style: none;
}
.likes {
    list-style: none;
}
.photos {
    list-style: none;
}


